<h1>Posts</h1>

<% @circles.each do |circle| %>
	<h3><%= circle.name %></h3>
	<ul>
		<% circle.posts.each do |post| %>
			<li><%= link_to post.title, post_url(post) %></li>
		<% end %>
	</ul>
<% end %>